<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC</title>
    <style>
        body{
            background-color: black;
            color: white;
        }
        h1{
            /* display: flex; */
            text-align: center;
        }
        form{
            border: 1px solid white;
            padding: 50px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>MVC</h1>
    <form action="/submit" method="post">
        Name:- <input type="text" name="name">
        <br>
        <br>
        Email:- <input type="email" name="email">
        <br>
        <br>
        Password:- <input type="password" name="password">
        <br>
        <br>
        PhoneNumber:- <input type="number" name="phoneNumber">
        <br>
        <br>
        Age:- <input type="number" name="age">
        <br>
        <br>
        <input type="submit" value="submit">
    </form>
</body>
</html>